<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url 'index' %}">To the index page</a>
    {% if article_number|get_digit:"1" == 0 or article_number|get_digit:"1" == 2 or article_number|get_digit:"1" == 4 or article_number|get_digit:"1" == 6 or article_number|get_digit:"1" == 8 %}
        <span style="padding: 10px; background-color: green">Число четное</span>
    {% else %}
        <span style="padding: 10px; background-color: red">Число не четное</span>
    {% endif %}
    {% include 'add.html' %}
</body>
</html>